<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xjt.travel.mapper.TTravellerNoteMapper">
	<select id="getTravellerNoteByPage" resultType="map">
		SELECT
		  tn.*,
		  t.`name` AS `writer_name`
		FROM
		  t_traveller_note tn
		  LEFT JOIN t_traveller t
		    ON tn.`writer_id` = t.`id`
		<if test="orderBy == 'publish_time'">
			ORDER BY tn.`publish_time` DESC
		</if>
		<if test="orderBy == 'view'">
			ORDER BY tn.`view` DESC
		</if>
		
	</select>
	
	<select id="getArticleAndAuthorInfo" resultType="map">
		SELECT
			tn.*,
			t.`name` AS `writer_name`,
			t.`description` AS `writer_description`,
			t.`avatar` AS `writer_avatar`
		FROM
			t_traveller_note tn
		LEFT JOIN t_traveller t
		ON tn.`writer_id` = t.`id`
		where tn.`id`=#{id}
	</select>
	
	<select id="getArticlesByConditions" resultType="map">
		SELECT
		  tn.*,
		  t.`name` AS author_name,
		  t.`avatar` AS author_avatar,
		  t.`description` AS author_description
		FROM
		  t_traveller_note AS tn
		  LEFT JOIN t_traveller AS t
		    ON tn.`writer_id` = t.`id`
		<where>
			<if test="title != null and title !='' ">
				and title like #{title}
			</if>
			<if test="author_name != null and author_name !='' ">
				and t.name like #{author_name}
			</if>
		</where>
	</select>
	
	<select id="getArticleNumGroupByTraveller" resultType="map">
		SELECT
		  t.`name`,
		  COUNT(tn.`id`) AS `num`
		FROM
		  t_traveller_note AS tn
		  LEFT JOIN t_traveller AS t
		    ON tn.`writer_id` = t.`id`
		GROUP BY t.`name`
		ORDER BY COUNT(tn.`id`) DESC
		LIMIT 0, 10
	</select>
</mapper>